@{
    Layout = "";
}
<script src="~/Content/Login/js/prefixfree.min.js"></script>
<link href="~/Content/Login/css/style.css" rel="stylesheet" />
@*<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>Vina<span>book</span></div>
    </div>
    <br>
    
    <form class="form-horizontal" @*action="#"*@ method="post">
        <div class="login">
            <h3>@ViewBag.ThongBao</h3>
            <input type="text" placeholder="username" name="username"><br>
            <input type="password" placeholder="password" name="password"><br>
            <input style="display:none" name="urlString" value="@Request.UrlReferrer" />
            <button type="submit" class="btnsubmit">Đăng Nhập</button>
            <br />
            <br />
            <div class="col-md-3 ">
            </div>
            <div class="col-md-3 text-center" style="position:absolute;right:110px">
                <a class="DangKyStyle btn btn-block" href="/NguoiDung/Register"> Đăng Ký </a>
            </div>

            <br /><br />
            <label id="quenMatKhau"  style="font-size:17px;color:#0814ff;cursor:pointer">Quên mật khẩu !</label>
            <p></p>

            <div style="display:none" id="QuenMatKhauContent">
                <input style="background-color:#faa227;color:black !important" type="text" placeholder="Type Your Email" name="email" id="email" ><br>
                <br />
                <div style="position:absolute;right:110px">
                    <button type="button"  class="pull-right btnsubmit btn-block btn" id="guimail">Gửi mail</button>
                </div>
            </div>

            <p>
                <br />
            </p>
            <label id="passwordOk"  style="font-size:16px;color:#ce1a1a" hidden>Mật khẩu đã được gửi đếm mail của bạn!</label>
        </div>
    </form>


  @*  *@

<style>
    .DangKyStyle {
       text-decoration:none;
        width: 250px;
        height: 35px;
        background: #fff;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 2px;
        color:#a18d6c;
        font-family: 'Exo', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 5px;
        margin-top: 30px;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        $("#guimail").click(function () {
          //  function GuiMail() {
                
            var email = $("#email").val();
            if (email.trim().toString() == "") {
                $("#email").focus();
                return;
            }
                $.ajax({
                    type: 'POST',
                    url: '/NguoiDung/QuenMatKhau',
                    data: { email },
                    success: function (data) {
                        if (data.done == 1) {
                            $("#passwordOk").show(300);
                            $("#passwordOk").html("Mật khẩu đã được gửi đếm mail của bạn!");
                        }
                        else {
                            $("#passwordOk").show(300);
                            $("#passwordOk").html("Email của bạn chưa được đăng ký");

                        }
                    }
                });
          //  }
        });
    $("#quenMatKhau").click(function () {
        $("#QuenMatKhauContent").toggle(200);
    });
    
   
});
</script>