
@{
    ViewBag.Title = "XacThucTaiKhoan";
    Layout = null;
}

<h4>Your account is successful to active. Redirecting to Home...</h4>

<a class="btn btn-default" href="/">Về trang chủ</a>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        window.location.href='/';

    });
</script>